body {
    background-image: url('fondogato.svg');
    background-size: cover; 
    background-repeat: no-repeat; 
}

  .imagen-custom {
    width: 200px; 
    height: auto; 
    margin-bottom: 50px;
  }
  
  .button-container {
    position: relative;
    margin-top: 20px; /* Ajusta el margen superior para separar las imágenes */
}

.btn-custom {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #173954;
    color: #ffffff;
    border: 1px solid #173954;
    padding: 8px 16px;
    border-radius: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}


.btn-custom:hover {
    background-color: #ffffff; 
    color: #173954; 
}

.image-container {
    position: relative;
    display: inline-block;
    margin: 20px;
}

.image-container::before {
    content: '';
    position: absolute;
    top: -10px; 
    left: -10px; 
    width: calc(100% + 50px); 
    height: calc(100% + 20px); 
    background-color:#91B3D4 ; 
    border-radius: 10px; 
    z-index: -1; 
}

.navbar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .custom-bg-white {
    background-color: white;
    display: inline-block;
  }

  .icon-big {
    font-size: 3em; 
    margin: 10px; 
  }